.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
input{
  border: 0;
}
button{
  border:0
}
.delete_btn{
  font-weight:bolder;
  /* cursor: pointer; */
  font-size: 30px;
  color: #f75959 ;
      transition: all 0.2s ease-in-out;

}
.delete_btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.singleTask{
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  overflow-wrap: break-word;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

